// ------------------------------------------------
// MISC
// ------------------------------------------------

.group{@include group;}
.img-fluid {display: block;margin: 0 auto;max-width: 100%;}


.section-title{
  padding: 5rem 0;
  font-size: 3rem;
  text-align: center;
  text-transform: uppercase;
}

.btn-outline-dark{
  border-radius: 0;
  text-transform: uppercase;
  margin-left: 1rem;
  font-family: 'Oswald', sans-serif;
  letter-spacing: .2rem;
}


// ------------------------------------------------
// SCROLL BAR
// ------------------------------------------------

::-webkit-scrollbar{
  width: 10px;
  height: 10px;
}
::-webkit-scrollbar-button{
  background-color: transparent;
}
::-webkit-scrollbar-track{
  background-color: transparent;
}
::-webkit-scrollbar-thumb{
  background-color: #484848;
  border-radius: 20px;
}
::-webkit-scrollbar-corner{
  background-color: transparent;
}
::selection{
  color: $color-1;
  background-color:#0a0a0a;
}


// ------------------------------------------------
// NAVBAR
// ------------------------------------------------

.navbar{
  background-color: #fff;
  text-transform: uppercase;
  font-family: 'Oswald', sans-serif;
  padding: 1rem;
  .navbar-brand{
    &.span{
      background-color: #fff;
      font-weight: 700;
    }
  } // navbarbrand

  .navbar-nav{
    .nav-link{
      padding: 0.5rem 2.5rem;
      position: relative;
      display: block;
      outline: none;
      &:hover{
        color: #000;
        .item-name{
          &:before{
            width: 70%;
            margin: 0 1rem;
            transition: width 0.3s;
            transition-timing-function: cubic-bezier(0.7,0,0.3,1);
          }
        }
      }
      .item-name{
        &:before{
          content: '';
          position: absolute;
          z-index: -1;
          bottom: 0;
          left: 0;
          width: 0%;
          height: 50%;
          background: #ffd400;
          transition: transform 0.3s;
          transition-timing-function: cubic-bezier(0.7,0,0.3,1);
        }
      }
    }
  } // navbar-nav ul
}

// ------------------------------------------------
// INITBTN
// ------------------------------------------------

.svg-btn {
  position: relative;
  width: 65%;
  text-align: center;
  text-transform: uppercase;
  cursor: pointer;
  &:hover{
    .shape {
      stroke-width: 3px;
      stroke-dashoffset: 0;
      stroke-dasharray: 760;
    }
  }
  .shape {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
    fill: transparent;
    stroke: #ffd400;
    border-bottom: 5px solid black;
    transition: stroke-width 1s, stroke-dashoffset 1s, stroke-dasharray 1s;
  }
  .text {
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 6px;
    color: #000;
    top: -48px;
    position: relative;
    font-family: $font-family-2;
  }
} // svgbtn

.btn-dark{
  background-color: #000;
  border-radius: 0;
  text-transform: uppercase;
  padding: .5em 1.5em;
}


// ------------------------------------------------
// BLOCKHEADER
// ------------------------------------------------


.block-header{
  .main-title{
    font-size: 1.2rem;
    margin-bottom: 1rem;
    font-weight: 700;
    font-family: 'Playfair Display', serif;
  }
  .second-title{
    color: #656565;
    font-size: .8rem;
  }
  .img-atelier{
    max-width: 100%;
    height: 100%;
  }
  .social-media-nav {
    width: 76%;
    margin: 0 auto;
    .nav-item{
      display: inline-block;
      width: 33%;
    }
    .nav-link{
      &:hover{
        svg{
          fill: #ffd400;
          transform-origin: top 0 left 0;
          transform: scale(1.3);
          transition: transform 1s ease-out;
        }
      }
      svg{
        width: 50%;
        height: auto;
        fill:#fff;
        margin: .5rem auto;
      }
    }
  }
  .mobile-content{
    &:before {
      content: "";
      position: absolute;
      left: 0;
      right: 0;
      z-index: -1;
      display: block;
      filter: blur(2px);
      background-image: url(img1.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      height: 55vH;
      width: 100%;
    }
    .text-content{
      padding: 2rem 1rem;
      .content{
        margin: .5rem;
        background: rgba(255,255,255,0.85);
        padding: 1rem;
      }
    }
  }
} // blockheader

@media (min-width: $screen-sm){
  .row-height{
    height: 90vH;
    .mobile-content{
      &:before {
        height: 90vH;
      }
      .text-content{
        padding: 2em 3rem;
        .content{
          padding: 2.5rem;
        }
      }
    }
  }

  .block-header{
    .social-media-nav {
      width: 25%;
      padding: 2rem auto;
      background-color: #fff;
      .nav-item{
        .nav-link{
          svg{
            width: 100%;
            height: auto;
            fill:#000;
            margin: .5rem;
          }
        }
      }
    } // social media
    .content-band-name{
      position: relative;
      margin-top: 0rem;
      .band-name{
        position: relative;
        padding: 2rem;
        .ceo-name{
          line-height: 5.0rem;
          text-transform: uppercase;
          width: 500px;
          display: inline-block;
          .first-name{
            text-transform: uppercase;
            display: block;
            font-family: 'Playfair Display', serif;
            font-size: 6rem;
          }
          .last-name{
            text-transform: uppercase;
            display: block;
            font-family: 'Oswald', sans-serif;
            font-size: 6rem;
            font-weight: 700;
            margin-left: 3.5rem;
            span{
              display: inline-block;
            }
            .dot{
              font-family: 'Playfair Display', serif;
              font-size: 8rem;
            }
            .spanabstractart{
              font-size: 2.8rem;
              text-transform: capitalize;
              font-family: 'Playfair Display', serif;
            }
          }
        }
      }
    }
  }
} // media screen


/* Tablet iPad 1024 x 665 */
@media (min-width: $screen-lg){
  .row-height{
    height: 65vH;
    .mobile-content{
      &:before{
        display: none;
      }
      .text-content{
        padding: 0;
      }
    }
  }
  /* BRAND NAME */
  .block-header{
    .content-band-name{
      position: relative;
      height: 277px;
      margin-top: 1rem;
      .band-name{
        position: absolute;
        top: 0;
        right: 59%;
        z-index: 2;
        padding: 2rem;
        background-color: rgba(255, 255, 255, 0.7);
      }
    }
    .content-img{
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 100%;
    }
    .social-media-nav {
      width: 90%;
    }
  }
}

/* Desktop 1280 */
@media screen and (min-width: 1279px){
  .block-header{
    .social-media-nav {
      width: 75%;
    }
  }
}

/* Desktop 1440px */
@media screen and (min-width: 1439px){
  .block-header{
    height: calc(100vH - 72px);
    .row-height{
      height: calc(100% - 72px);
    }
    .social-media-nav {
      width: 100%;
      padding-top: .5rem;
      .nav-item{
        width: 18%;
      }
    }
    .content-band-name{
      position: relative;
      height: 300px;
      margin-top: 20%;
      .text-content{
        .content{
          padding: 1.5rem;
        }
      }
    }
  }
}

// ------------------------------------------------
// BLOCKMAIN
// ------------------------------------------------


.block-main{
  .svg-btn{
    text-align: left;
    padding-left: 15px;
  }

  // ------------------------------------------------
  // ------------------------------------------------
  .block-section-works{
    .content-canvas{
      .canvas-title{
        font-family: $font-family;
      }
    }
    .content-img {
      position: relative;
      background-color: rgba(158, 158, 158, 0.07);
      .img-canvas{
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        width: 100%;
        height: 450px;
        margin: 0 auto;

      }
    }
  }

  // ------------------------------------------------
  // ------------------------------------------------
  .block-section-events{
    .content-event{
      margin: 1rem 1rem;
      .event-title{
        font-family: 'Playfair Display', serif;
        margin-left: 1rem;
      }
      .date{
        font-family: 'Oswald', sans-serif;
        font-size: 2rem;
        font-weight: bold;
        line-height: 2rem;
        text-align: right;
        margin-top: .7rem;
        .number{
          font-size: 3.5rem;
        }
      }
      .description{
        color: #7b7b7b;
        margin-left: 1rem;
        font-size: .9rem;
      }
    }
  }

  // ------------------------------------------------
  // ------------------------------------------------
  .block-section-about{
    padding: 6rem 0;
    .img-canvas{
      background-image: url(about.jpg);
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
      width: 95%;
      height: 650px;
      margin: 0 auto;
      background-color: rgba(158, 158, 158, 0.07);
    }
    .section-about-title{
      font-size: 4rem;
      font-weight: 700;
      font-family: $font-family;
      text-transform: uppercase;
      font-size: 2.5rem;
    }
    .social-media-nav{
      .nav-item{
        display: inline-block;
        width: 50px;
        height: 50px;
        a{
          width: 50px;
          height: 50px;
          svg{
            width: 100%;
            height: 100%;
          }
        }
      }
    }
  }
  // ------------------------------------------------
  // ------------------------------------------------

  .block-section-gallery{
    .section-title{
      margin: 0 0 2rem 0;
    }
    .content-gallery{
      .img-content{
        margin: 0 1rem;
        position: relative;
        height: 280px;
        margin: 1rem auto;
        .photo{
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          display: block;
          width: 100%;
          margin: 0 auto;
          &:hover{
            .img{
              box-shadow: 1px 1px 10px 0 rgba(0,0,0,.1);
              margin-top: 0;
            }
            .glow{
              transform: rotate(45deg) translate(450%, 0);
              transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            }
            .glow-wrap{
              margin-top: 0;
            }
          }
          .img{
            width: 90%;
            margin: 0 auto;
            height: 280px;
            object-fit: cover;
            display: block;
            transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1);
            margin-top: -10px;
            background-image: url(tableau1.jpg);
            background-position: center;
            background-repeat: no-repeat;
            background-size: cover;
            position: relative;
          }
          .glow-wrap{
            overflow: hidden;
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            margin-top: -10px;
          }
          .glow{
            display: block;
            position:absolute;
            width: 40%;
            height: 200%;
            background: rgba(255,255,255,.2);
            top: 0;
            filter: blur(5px);
            transform: rotate(45deg) translate(-450%, 0);
            transition: all .5s cubic-bezier(0.645, 0.045, 0.355, 1);
          }
        }
      }
    }
  }
}

@media (min-width: $screen-sm){
  .block-main{
    .svg-btn .text{
      padding-left: 20px;
    }
    .block-section-works{
      .content-img{
        .img-canvas{
          height: 650px;
        }
      }
    }
  }
}

@media screen and (max-width: 996px){
  .block-main {
    .svg-btn{
      svg{
        width: 220px;
        .shape{
          width: 220px;
          stroke-dashoffset: -352;
        }
      }
    }
  }
}

@media screen and (max-width: 1023px){
  .block-main{
    .block-section-works{
      .row-class-flex{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-direction: column!important;
        flex-direction: column!important;
      }
      .row-class-flex-reverse{
        display: -ms-flexbox;
        display: flex;
        -ms-flex-wrap: wrap;
        flex-wrap: wrap;
        display: -ms-flexbox!important;
        display: flex!important;
        -ms-flex-direction: column-reverse!important;
        flex-direction: column-reverse!important;
      }
    }
  }
}

@media (min-width: $screen-lg){
  .block-main {
    // ------------------------------------------------
    // ------------------------------------------------
    .block-section-works{
      .content-canvas{
        padding: 7rem 2.5rem;
        p{
          margin-top: 1rem;
          color: #7b7b7b;
          margin-left: 2rem;
        }
        .svg-btn{
          margin-left: .8rem;
        }
      }
      .row-class-flex-reverse{
        padding: 6rem 0 0 0;
        .img-canvas{
          margin-top: -11rem;
        }
      }
      .row-class-flex{
        padding: 3rem 0 0 0;
      }
    } // section works

    // ------------------------------------------------
    // ------------------------------------------------
    .block-section-events{
      .content-event{
        margin: 0 1rem;
        .date{
          font-size: 3rem;
          line-height: 3rem;
          margin-top: .5rem;
          .number{
            font-size: 4.5rem;
          }
        }
      }
    } // section events

    // ------------------------------------------------
    // ------------------------------------------------
    .block-section-gallery{
      margin: 2rem 5rem;
      .img-content{
        width: 100%;
      }
    }
  }
} // media lg

@media screen and (min-width: 1440px){
  .block-main{
    .block-section-events{
      margin: 0 10rem;
    }
    .block-section-gallery{
      .section-title{
        padding: 3rem 0;
      }
      margin: 2rem 10rem;
      .img-content{
        height: 300px;
        .photo{
          .img{
            height: 300px;
          }
        }
      }
    }
  }
}
