// ---------------------------------------------------------
// Variables
// ---------------------------------------------------------


$body-font-family: 'Montserrat', sans-serif !default;
$font-family: 'Playfair Display', serif !default;
$font-family-2: 'Oswald', sans-serif !default;
$html-font-size: 16 !default; // px
$body-font-size: 14 !default; // px

$color_main: #F18A78;
$color_btn: #111;
$color-1: #ffd400, !default;
$color-2: #2c2c2c, !default;

$global-width: 1170px !default;
$gutter-width: 1.5em !default;
$screen-lg: 1025px !default;
$screen-sm: 768px !default;
